h2 {
  width: fit-content;
  margin: auto;
  text-align: center;
  background-color: darkcyan;
  color: white;
  padding: 10px;
}

#mainInfos {
  margin: auto;
  display: flex;
  justify-content: space-evenly;
}

.chartContainer {
  margin: auto;
  height: 70vh;
  width: 95vw;
}
