<app-header></app-header>
<hr />
<div *ngIf="olympics$ | async as olympic">
  <h2>{{ olympic[countryId].country }}</h2>
  <div id="mainInfos">
    <div class="specificInfos">
      Numbers of entries:<br />
      <strong>{{ olympic[countryId].participations.length }}</strong>
    </div>
    <div class="specificInfos">
      Total number medals:<br />
      <strong>{{ totalMedals }}</strong>
    </div>
    <div class="specificInfos">
      Total number athletes:<br />
      <strong>{{ totalAthletes }}</strong>
    </div>
  </div>
</div>
<div class="chartContainer">
  <canvas id="MyChart"></canvas>
</div>
<hr />
<div *ngIf="olympics$ | async as olympics">
  <div *ngIf="olympics[countryId] as olympic">
    <table>
      <thead>
        <tr>
          <th>Year</th>
          <th>City</th>
          <th>Medals</th>
          <th>Athletes</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let og of olympic.participations">
          <th>{{ og.year }}</th>
          <th>{{ og.city }}</th>
          <th>{{ og.medalsCount }}</th>
          <th>{{ og.athleteCount }}</th>
        </tr>
      </tbody>
    </table>
  </div>
</div>
