h2 {
  width: fit-content;
  margin: auto;
  text-align: center;
  background-color: darkcyan;
  color: white;
  padding: 10px;
  border-radius: 10px;
  font-family: sans-serif;
  margin-bottom: 20px;
}

.specificInfos {
  width: fit-content;
  margin: auto;
  text-align: center;
  padding: 7px;
  border-radius: 10px;
  font-family: sans-serif;
  border-color: darkcyan;
  border-style: solid;
  border-width: 3px;
  margin-bottom: 10px;
}

#mainInfos {
  margin: auto;
  display: flex;
  justify-content: space-evenly;
}

table,
th,
td {
  font-family: sans-serif;
  margin: auto;
  border-style: solid;
  border-width: 2px;
  border-collapse: collapse;
  text-align: left;
  font-style: normal;
  padding: 8px;
}

table thead th {
  text-align: center;
  font-style: italic;
  color: white;
  background-color: darkcyan;
  border-color: black;
}

table caption {
  font-size: large;
  font-weight: bold;
  margin-bottom: 5px;
}
